/* Carpooling style */


/* Bar */

.carpooling .bar {
    background-color: #3448A5;
    border-color: #3448A5;
    color: #FFFFFF;
}
.carpooling .bar .button {
    color: #FFFFFF;
}

/* Menu */

.carpooling .menu,
.carpooling .menu .item,
.carpooling .menu .item .item-content {
    background-color: #3448A5;
}
.carpooling .menu .item {
    border-color: #3448A5;
    color: #FFFFFF;
}
.carpooling .menu .item .item-content.activated {
    color: #BCC0E7;
}
.carpooling .menu .item .item-content .icon:before {
    padding-right: 1em;
    font-size: 2em;
    vertical-align: middle;
}

/* Tabs */

.carpooling .tabs {
    background-color: #3448A5;
}
.carpooling .tabs .tab-item {
    max-width: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9em;
    opacity: 1;
    text-transform: uppercase;
}
.carpooling .tabs .tab-item.tab-item-active,
.carpooling .tabs .tab-item.active,
.carpooling .tabs .tab-item.activated {
    color: #4EB0E6;
    border: 0 solid #4EB0E6;
}
.carpooling .tabs-top.tabs-striped .tabs .tab-item.tab-item-active,
.carpooling .tabs-top.tabs-striped .tabs .tab-item.active,
.carpooling .tabs-top.tabs-striped .rabs .tab-item.activated {
    border-width: 0px 0px 3px 0px !important;
}

/* Others */
