/* Carpooling style */

.carpooling {
    color: #4EB0E6;
}
.carpooling-theme .link-carpooling {
    color: #4EB0E6;
    text-decoration: underline;
    cursor: pointer;
}

/* Bar */

.carpooling-theme .bar {
    background-color: #3448A5;
    border-color: #3448A5;
    color: #FFFFFF;
}
.carpooling-theme .bar .button {
    color: #FFFFFF;
}

/* Menu */

.carpooling-theme .menu,
.carpooling-theme .menu .item,
.carpooling-theme .menu .item .item-content {
    background-color: #3448A5;
}
.carpooling-theme .menu .item {
    border-color: #3448A5;
    color: #FFFFFF;
}
.carpooling-theme .menu .item .item-content.activated {
    color: #BCC0E7;
}
.carpooling-theme .menu .item .item-content .icon:before {
    padding-right: 1em;
    font-size: 2em;
    vertical-align: middle;
}

/* Tabs */

.carpooling-theme .tabs {
    background-color: #3448A5;
}
.carpooling-theme .tabs .tab-item {
    max-width: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9em;
    opacity: 1;
    text-transform: uppercase;
}
.carpooling-theme .tabs .tab-item.tab-item-active,
.carpooling-theme .tabs .tab-item.active,
.carpooling-theme .tabs .tab-item.activated {
    color: #4EB0E6;
    border: 0 solid #4EB0E6;
}
.carpooling-theme .tabs-top.tabs-striped .tabs .tab-item.tab-item-active,
.carpooling-theme .tabs-top.tabs-striped .tabs .tab-item.active,
.carpooling-theme .tabs-top.tabs-striped .rabs .tab-item.activated {
    border-width: 0px 0px 3px 0px !important;
}

/* Form components */

.carpooling-theme .button-carpooling {
    border-color: #4EB0E6;
    background-color: #4EB0E6;
    color: #FFFFFF;
}
.carpooling-theme .button-carpooling-inverse {
    border-color: transparent;
    background-color: transparent;
    color: #4EB0E6;
}
.carpooling-theme .button.button-icon.icon {
    color: #4EB0E6;
}
.carpooling-theme .toggle input:checked + .track {
    background-color: #4EB0E6;
    border-color: #4EB0E6;
}
.carpooling-theme .toggle-small input:checked + .track {
    background-color: rgba(78, 176, 230, 0.5);
    border-color: rgba(78, 176, 230, 0.5);
}
.carpooling-theme .toggle-small input:checked + .track .handle {
    background: #4EB0E6;
}
.carpooling-theme .checkbox input:checked:before,
.carpooling-theme .checkbox input:checked + .checkbox-icon:before {
    border-color: #4EB0E6;
    background-color: #4EB0E6;
}

/* Others */

.carpooling-theme .list:last-child {
    margin-bottom: 20px;
    padding-bottom: 0px;
}
.carpooling-theme .list .item-input {
    padding-right: 0;
    padding-left: 0;
    border: 0;
    z-index: initial;
}
.carpooling-theme .list .item-toggle {
    padding-right: 80px;
    padding-right: 0px;
    border: 0;
    z-index: initial;
}
.carpooling-theme .list .item-checkbox {
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.carpooling-theme .chat-wrapper {
    margin: 30px 10px 50px 10px;
    overflow: auto;
}
.carpooling-theme .list .item-checkbox p {
    font-size: small;
}
.carpooling-theme .list .item-input input[type='text'] {
    border-bottom: 1px solid #ddd;
}
.carpooling-theme .input-chat {
    padding-right: 10px;
    border: 0;
    position: absolute;
    width: 100%;
    bottom: 0px;
    min-height: 60px;
    background-color: #fff;
}
.carpooling-theme .input-chat input[type='text'] {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carpooling-theme .input-chat button {
    padding: 0 0 0 0;
    min-height: 50px;
    min-width: 65px;
    margin-left: 5px;
}
.carpooling-theme .action-sheet-group .action-sheet-option.button,
.carpooling-theme .action-sheet-group .action-sheet-destructive.button {
    text-align: left;
    padding-left: 50px;
}

/* Community infos */

.carpooling-theme .info h5 {
    color: #3448A5;
}
.carpooling-theme .info span {
    color: lightgray;
}
.carpooling-theme .info #auto {
    color: #3448A5;
    font-size: 2em;
}

/* Custom */

.popup-offri-dow label.item-checkbox {
    display: inline-block;
    padding: 0;
    text-align: center;
}
.popup-offri-dow label.item-checkbox .checkbox {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-top: auto;
    padding-bottom: 0;
}
.item-autocomplete {
    overflow: visible;
}
.item-autocomplete:first-child {
    z-index: 99;
}
.item-autocomplete:last-child {
    z-index: 98;
}
.item-autocomplete.item-autocomplete-ok input {
    font-weight: bold;
}
placeautocomplete {
    width: 100%;
}
placeautocomplete ul {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
}
placeautocomplete ul li {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.card.card-trip,
.card.card-community,
.card.card-notif {
    position: relative;
    background-color: #F0F0F0;
}
.card.card-trip:first-child,
.card.card-community:first-child,
.card.card-notif:first-child {
    margin-top: 10px;
}
.card.card-trip .item,
.card.card-community .item,
.card.card-notif .item {
    background-color: transparent;
}
.card.card-trip .item,
.card.card-community .item {
    padding: 5px;
}
.card.card-trip .trip-data {
    vertical-align: middle;
    position: relative;
    padding: 0.5em 1em 0.5em 0;
    width: 75%;
    height: 100%;
    display: inline-block;
}
.card.card-trip .trip-data ul li {
    overflow: hidden;
    text-overflow: ellipsis;
}
.card.card-trip .trip-data ul li span {
    color: #000000;
}
.card.card-trip .trip-data .trip-data-requested {
    color: #4EB0E6;
}
.card.card-trip .trip-data .trip-data-rejected {
    color: #FF0000;
}
.card.card-trip .trip-counter {
    vertical-align: middle;
    text-align: center;
    width: 25%;
    display: inline-block;
}
.card.card-trip .trip-counter .trip-counter-num {
    line-height: 1em;
    font-size: 3em;
    color: #3448A5;
}
.card.card-trip .trip-counter .trip-counter-text {
    line-height: 1;
    font-size: smaller;
    overflow: hidden;
    white-space: normal;
}
.card.card-trip .trip-flag {
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 1.5em 1.5em 0;
    border-color: #AAAAAA #AAAAAA transparent transparent;
}
.card.card-community .item {
    padding: 10px;
}
.card.card-community .item .name {
    color: #FFFFFF;
    font-size: 1.5em;
}
.card.card-community .item ul li {
    padding-top: 10px;
}
.card.card-community .item ul li span.lbl {
    color: #000000;
}
.card.card-community .item ul li:first-child {
    padding-top: 0;
}
.card.card-community .item ul li.community-numbers {
    color: #3448A5;
    font-size: 2em;
}
.card.card-community .item ul li.community-numbers .col {
    text-align: center;
}
.card.card-community .item ul li.community-numbers .col:first-child {
    text-align: left;
}
.card.card-community .item ul li.community-numbers .col:last-child {
    text-align: right;
}
.card.card-notif {
    background-color: #F0F0F0;
    padding-bottom: 16px;
}
.card.card-notif.unread {
    background-color: #F7F7F7;
}
.card.card-notif .item {
    border-width: 0px;
}
.card.card-notif.unread .item {
    border-width: 0px;
    font-weight: bold;
}
.card.card-notif .item-divider {
    text-align: right;
    font-size: small;
    color: #A0A0A0;
}
.card.card-notif.unread .item-divider {
    text-align: right;
    font-size: small;
    color: #000000;
}
.card.card-notif .item-icon-left {
    white-space: normal;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
}
.card.card-notif .item-icon-left span {
    font-size: large;
    color: #000000;
}
.card.card-chat {
    box-shadow: none;
}
.card.card-chat .item {
    background-color: #FFFFFF;
    border: 0;
    padding: 0px 8px 0px 8px;
    text-align: left;
    white-space: normal;
}
.card.card-chat .item-divider {
    text-align: left;
    font-size: small;
    color: #A0A0A0;
}
.card.card-chat .item-divider span {
    text-align: left;
    font-size: small;
    color: #4EB0E6;
}
.card.card-chat.card-chat-my .item {
    border: 0;
    text-align: right;
    margin-left: 50px;
    white-space: normal;
}
.card.card-chat.card-chat-my-extra .item {
    border: 0;
    text-align: left;
    margin-left: 50px;
    white-space: normal;
}
.card.card-chat.card-chat-my .item-divider {
    text-align: right;
    font-size: small;
    color: #A0A0A0;
}
.card.card-chat.card-chat-my-extra .item-divider {
    text-align: right;
    font-size: small;
    color: #A0A0A0;
}

/* Other */

#modalMap,
#modal-map-container,
#trip-map-container {
    height: 100% !important;
}
#modalMap {
    width: 100%;
}

/* USERINFO  */

.user-profile .user-data {
    text-align: center;
    border-bottom: 1px solid #A0A0A0;
}
.user-profile .user-image i {
    font-size: 10em;
}
.user-profile .user-options {}

/* USERINFO  */

.user-profile .user-data {
    text-align: center;
    border-bottom: 1px solid #A0A0A0;
}
.user-profile .user-image i {
    font-size: 10em;
}
.user-profile .user-options {}

/* Stats*/

table.chart {
    width: 100%;
    height: 180px;
}
table.chart tr td {
    width: 50%;
}
table.chart .values {
    height: 100%;
}
table.chart .values td {
    padding: 0 0.5em;
}
table.chart .values .value {
    position: relative;
    height: 100%;
    background: #c5cae9;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
table.chart .values .value .valuestring {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0.5em;
    color: #3f51b5;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
table.chart .toes {}
table.chart .toes td {
    line-height: 2em;
    padding: 0 0.5em;
}
table.chart .toes .toe {
    background: white;
    /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#c5cae9, white);*/
    /* For Safari 5.1 to 6.0 */
    /*background: -moz-linear-gradient(#c5cae9, white);*/
    /* For Firefox 3.6 to 15 */
    /*background: -o-linear-gradient(#c5cae9, white);*/
    /* For Opera 11.1 to 12.0 */
    /*background: linear-gradient(#c5cae9, white);*/
    /* Standard syntax */
    color: #3f51b5;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 8px;
}
table.chart .labels {}
.rating-avg {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}
.rating-avg-star {
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: #3f51b5;
}
.rating-avg-star span {
    white-space: nowrap;
}

/* VIAGGIO */

.carpooling-theme .trip-info {
    color: gray;
}
.carpooling-theme .trip-info span {
    color: #000000;
}
.carpooling-theme .trip-requests h5 {
    text-align: center;
}
.carpooling-theme .trip-requests h5,
.carpooling-theme .trip-passengers h5 {
    color: #3448A5;
}
.carpooling-theme .trip-passengers ul {
    font-size: 3em;
    text-align: center;
}
.carpooling-theme .trip-passengers ul li {
    display: inline-block;
    color: #000000;
    text-align: center;
}
.carpooling-theme .trip-passengers ul li.trip-places-booked {
    margin-right: 0.2em;
}
.carpooling-theme .trip-passengers ul li.trip-places-booked:last-child {
    margin-right: 0;
}
.carpooling-theme .trip-passengers ul li.trip-places-left {
    width: 2.5em;
    height: 2.5em;
    font-size: 0.6em;
    border: 2px solid #3448A5;
    border-radius: 50%;
    color: #3448A5;
}
.carpooling-theme .trip-passengers ul li.trip-places-left span {
    line-height: 1.5em;
}
.carpooling-theme .trip-passengers ul li.trip-places-left div {
    font-size: 0.5em;
    line-height: 1em;
    margin: 0;
}
.carpooling-theme .trip-status {
    text-align: center;
    color: #4EB0E6;
    font-weight: bold;
    font-size: larger;
}
.carpooling-theme .trip-status .rejected {
    color: #FF0000;
}
.carpooling-theme .trip-status .accepted {
    color: #00FF00;
}
.carpooling-theme .trip-actions {
    text-align: center;
}
.carpooling-theme .trip-actions button {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1em;
}
.carpooling-theme .trip-requests {
    margin-top: 1.5em;
}
.carpooling-theme .trip-requests .list .item {
    border: 0;
}
.carpooling-theme .trip-requests .list .item-button-right > .button {
    right: 70.5px;
}
.carpooling-theme .trip-requests .list .item-button-right > .button:last-child {
    right: 16px;
}
.carpooling-theme .trip-rating {
    text-align: center;
    font-size: xx-large;
    color: #3f51b5;
}
.carpooling-theme .trip-rating .star {
    width: 20%;
    float: left;
}
.carpooling-theme .action-sheet .button {
    color: #007aff;
}
.carpooling-theme .action-sheet .button.destructive {
    color: #ff3b30;
}

/* Components */

.carpooling-theme .components .item {
    color: #000000;
}
.carpooling-theme .components .item span i {
    font-size: 2em;
}
.carpooling-theme .components h5 {
    color: #3448A5;
    padding-left: 1.5em;
}

/* Trips */

.carpooling-theme .community-trips h5 {
    color: #3448A5;
    text-align: center;
    padding-top: 1em;
}
.trip-owner {
    padding: 0px;
}
.trip-owner .col {
    text-align: center;
    padding: 10px 5px 10px 10px;
    border-bottom: 1px solid #d2d2d2;
    font-size: 13px;
}
