/* Carpooling style */

.carpooling {
    color: #4EB0E6;
}

/* Bar */

.carpooling-theme .bar {
    background-color: #3448A5;
    border-color: #3448A5;
    color: #FFFFFF;
}
.carpooling-theme .bar .button {
    color: #FFFFFF;
}

/* Menu */

.carpooling-theme .menu,
.carpooling-theme .menu .item,
.carpooling-theme .menu .item .item-content {
    background-color: #3448A5;
}
.carpooling-theme .menu .item {
    border-color: #3448A5;
    color: #FFFFFF;
}
.carpooling-theme .menu .item .item-content.activated {
    color: #BCC0E7;
}
.carpooling-theme .menu .item .item-content .icon:before {
    padding-right: 1em;
    font-size: 2em;
    vertical-align: middle;
}

/* Tabs */

.carpooling-theme .tabs {
    background-color: #3448A5;
}
.carpooling-theme .tabs .tab-item {
    max-width: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9em;
    opacity: 1;
    text-transform: uppercase;
}
.carpooling-theme .tabs .tab-item.tab-item-active,
.carpooling-theme .tabs .tab-item.active,
.carpooling-theme .tabs .tab-item.activated {
    color: #4EB0E6;
    border: 0 solid #4EB0E6;
}
.carpooling-theme .tabs-top.tabs-striped .tabs .tab-item.tab-item-active,
.carpooling-theme .tabs-top.tabs-striped .tabs .tab-item.active,
.carpooling-theme .tabs-top.tabs-striped .rabs .tab-item.activated {
    border-width: 0px 0px 3px 0px !important;
}

/* Form components */

.carpooling-theme .button-carpooling {
    border-color: #4EB0E6;
    background-color: #4EB0E6;
    color: #FFFFFF;
}
.carpooling-theme .button.button-icon.icon {
    color: #4EB0E6;
}
.carpooling-theme .toggle input:checked + .track {
    background-color: #4EB0E6;
    border-color: #4EB0E6;
}
.carpooling-theme .toggle-small input:checked + .track {
    background-color: rgba(78, 176, 230, 0.5);
    border-color: rgba(78, 176, 230, 0.5);
}
.carpooling-theme .toggle-small input:checked + .track .handle {
    background: #4EB0E6;
}
.carpooling-theme .checkbox input:checked:before,
.carpooling-theme .checkbox input:checked + .checkbox-icon:before {
    border-color: #4EB0E6;
    background-color: #4EB0E6;
}

/* Others */

.carpooling-theme .list .item-input,
.carpooling-theme .list .item-toggle {
    padding-right: 0;
    padding-left: 0;
    border: 0;
}
.carpooling-theme .list .item-input input[type='text'] {
    border-bottom: 1px solid #ddd;
}

/* Community infos */

.carpooling-theme .info h5 {
    color: #3448A5;
}
.carpooling-theme .info span {
    color: lightgray;
}
.carpooling-theme .info #auto {
    color: #3448A5;
    font-size: 2em;
}

/* Custom */

.popup-offri-dow label.item-checkbox {
    display: inline-block;
    padding: 0;
    text-align: center;
}
.popup-offri-dow label.item-checkbox .checkbox {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-top: auto;
    padding-bottom: 0;
}
#modalMap {
    width: 100%;
    height: 600px;
}
