<ion-view title="{{'lbl_findcommunity'| translate}}">
    <ion-content class="padding">
        <form novalidate class="simple-form search-form">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="{{'lbl_name'| translate}}">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'lbl_tripzone'| translate}}">
                    <a class="button button-icon icon ion-android-locate positive"></a>
                </label>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="button button-positive">
                        {{'lbl_cerca'| translate}}
                    </button>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>
