<ion-view title="{{'lbl_search'| translate}}">
    <ion-content class="padding">
        <form novalidate class="simple-form search-form">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="{{'lbl_from'| translate}}">
                    <a class="button button-icon icon ion-map padding-left"></a>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{'lbl_to'| translate}}">
                    <a class="button button-icon icon ion-map padding-left"></a>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'lbl_date'| translate}}</span>
                    <input type="date" ng-model="date" value="{{date}}">
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'lbl_time'| translate}}</span>
                    <input type="time" ng-model="time" value="{{time}}">
                </label>
            </div>
            <h4>{{'lbl_cerca'| translate}}</h4>
            <div class="list">
                <ion-radio ng-model="myCommunity" ng-value="false">{{'lbl_mycommunity'| translate}}</ion-radio>
                <ion-radio ng-model="allCommunity" ng-value="true">{{'lbl_allcommunity'| translate}}</ion-radio>
            </div>

            <div class="list">
                <ion-toggle ng-model="allSearchNotifications" toggle-class="">
                    {{'lbl_allsearchnotifications'| translate}}
                </ion-toggle>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="button button-positive">
                        {{'lbl_cerca'| translate}}
                    </button>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>
