<ion-view title="{{'lbl_search' | translate}}">
    <ion-content class="padding">
        <form novalidate class="simple-form search-form">
            <div class="list">
                <div class="item item-input">
                    <!--AUTOCOMPLETE-->
                    <placeautocomplete ng-model="fromName" attr-placeholder="{{'lbl_from' | translate}}" click-activation="true" data="places" on-type="typePlace" placeholder="{{'lbl_from' | translate}}" style="width: 100%" on-select="changeStringFrom" ng-blur="setNameParam"></placeautocomplete>
                    <!----------------->
                    <a class="button button-icon icon ion-map padding-left" ng-click="test()"></a>
                </div>
                <!--AUTOCOMPLETE-->
                <div class="item item-input">
                    <placeautocomplete ng-model="toName" attr-placeholder="{{'lbl_to' | translate}}" click-activation="true" data="places" on-type="typePlace" placeholder="{{'lbl_to' | translate}}" style="width: 100%" on-select="changeStringFrom" ng-blur="setNameParam"></placeautocomplete>
                    <!----------------->
                    <a class="button button-icon icon ion-map padding-left"></a>
                </div>
                <div class="item item-input">
                    <span class="input-label">{{'lbl_date' | translate}}</span>
                    <input type="date" ng-model="date" value="{{date}}">
                </div>
                <div class="item item-input">
                    <span class="input-label">{{'lbl_time' | translate}}</span>
                    <input type="time" ng-model="time" value="{{time}}">
                </div>
            </div>
            <h4>{{'lbl_cerca' | translate}}</h4>
            <div class="list">
                <ion-radio ng-model="myCommunity" ng-value="false">{{'lbl_mycommunity' | translate}}</ion-radio>
                <ion-radio ng-model="allCommunity" ng-value="true">{{'lbl_allcommunity' | translate}}</ion-radio>
            </div>

            <div class="list">
                <ion-toggle ng-model="allSearchNotifications" toggle-class="">
                    {{'lbl_allsearchnotifications' | translate}}
                </ion-toggle>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="button button-positive">
                        {{'lbl_cerca' | translate}}
                    </button>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>
