<ion-view>
    <ion-nav-title>{{community.name}}</ion-nav-title>
    <ion-nav-buttons side="right"></ion-nav-buttons>

    <ion-tabs class="tabs-top">
        <!-- Viaggi Tab -->
        <ion-tab icon="ion-location" ng-click="selectTab(0)">
            <ion-view>
                <ion-content class="has-header community-trips">
                    <button class="button button-block button-carpooling" ng-if="!iAmMember" ng-click="joinCommunity()">
                        {{'lbl_joincommunity' | translate | uppercase}}
                    </button>
                    <button class="button button-block button-carpooling" ng-if="iAmMember" ng-click="addTrip()">
                        {{'lbl_addtrip' | translate | uppercase}}
                    </button>
                    <div class="day-change">
                        <button class="ion-arrow-left-b button-day b_left" ng-click="changeDay(0)" ng-disabled="hideYesterday()"></button>
                        <h5>{{lbl_day}}</h5>
                        <button class="ion-arrow-right-b button-day b_right" ng-click="changeDay(1)"></button>
                    </div>
                    <div ng-if="!!communityTrips && communityTrips.length == 0">
                        <h4>{{'lbl_no_results' | translate}}</h4>
                    </div>
                    <div class="list" ng-if="!!communityTrips && communityTrips.length > 0">
                        <div class="card card-trip" ng-repeat="trip in communityTrips" ng-click="selectTrip($index)">
                            <div class="item">
                                <div class="trip-data">
                                    <ul>
                                        <li>
                                            <i class="icon cp-recurring" ng-if="!!trip.recurrentId"></i>
                                            <span>{{trip.when | date: travelDateFormat}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate | uppercase}}: <span>{{trip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{trip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{trip.route.startime | date:travelTimeFormat}}</span>
                                        </li>
                                    </ul>
                                    <!-- TODO define when the flag needs to be shown here -->
                                    <div class="trip-flag" ng-if="false"></div>
                                </div>
                                <div class="trip-counter">
                                    <p class="trip-counter-num">{{trip.bookingCounters.available}}</p>
                                    <p class="trip-counter-text">{{'lbl_user_car_seats' | translate}}</p>
                                </div>
                                <!-- TODO define when the flag needs to be shown here -->
                                <div class="trip-flag" ng-if="!!communityStyle" ng-style="communityStyle"></div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <!-- Componenti Tab -->
        <ion-tab icon="ion-android-people" ng-click="selectTab(1)">
            <ion-view>
                <ion-content class="has-header padding components">
                    <h5>{{'lbl_components'| translate | uppercase}}</h5>
                    <div ng-if="community.users.lenght == 0">
                        <h4>{{'lbl_no_results' | translate}}</h4>
                    </div>
                    <div class="card card-trip" ng-repeat="user in community.userObjs">
                        <div class="item row" ng-click="showUser($index)">
                            <ul class="padding-bottom">
                                <li class="padding">
                                    <span class="padding-left">
                                        <i class="icons ion-person padding-right"></i>
                                        <span ng-if="!!user.name || !!user.surname">{{user.name}} {{user.surname}}</span>
                                    <span ng-if="!user.name && !user.surname">{{'lbl_user_anonymous' | translate}}</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <!-- Informazioni Tab -->
        <ion-tab icon="ion-ios-information" ng-click="selectTab(2)">
            <ion-view class="info">
                <ion-content class="has-header padding">
                    <div>
                        <h5>{{'lbl_generalinformations'| translate}}</h5>
                        <p class="padding-top">
                            <span>{{'lbl_tripzone'| translate}}:</span>
                            <!-- old zone string -->
                            <span ng-if="!community.zone.name && !community.zone.address">{{community.zone}}</span>
                            <!-- name and address -->
                            <span ng-if="!!community.zone.name && !!community.zone.address && !(community.zone.name == community.zone.zone)">{{community.zone.name}} ({{community.zone.address}})</span>
                            <!-- only name -->
                            <span ng-if="!!community.zone.name && !community.zone.address">{{community.zone.name}}</span>
                            <!-- only address -->
                            <span ng-if="!community.zone.name && !!community.zone.address">{{community.zone.address}}</span>
                        </p>
                    </div>
                    <div class="padding-top padding-bottom">
                        <h5>{{'lbl_numberauto'| translate}}</h5>
                        <span class="padding-left" id="auto"><i class="icons ion-model-s"></i> {{community.cars}} </span>
                    </div>
                    <div class="actions">
                        <button class="button button-block button-carpooling" ng-if="iAmMember" ng-click="changeAutoState()">
                            {{(hasAuto ? 'lbl_editauto' : 'lbl_addauto') | translate}}
                        </button>
                        <a class="padding-top" href="" ng-if="iAmMember" ng-click="leaveCommunity()">{{'lbl_leavecommunity'| translate}}</a>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
