<ion-view title="{{'lbl_communityname' | translate}}">
    <ion-nav-buttons side="right">
        <!--
        <a href="#" class="button button-icon ion-android-chat"></a>
        <a href="#" class="button button-icon ion-android-more-vertical padding-left"></a>
        -->
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <button class="button button-block button-carpooling" ng-click="addTrip()">
            {{'lbl_addtrip' | translate | uppercase}}
        </button>
    </ion-content>
</ion-view>
