<ion-view title="{{community.name}}">
    <ion-nav-buttons side="right">
        <!--
        <a href="#" class="button button-icon ion-android-chat"></a>
        <a href="#" class="button button-icon ion-android-more-vertical padding-left"></a>
        -->
    </ion-nav-buttons>
    <ion-content class="has-header padding components">
        <div ng-if="community.users.lenght == 0">
            <h4>{{'lbl_no_results' | translate}}</h4>
        </div>
        <div class="card card-trip" ng-repeat="user in community.userObjs" ng-click="selectCommunity($index)">
            <div class="item row" ng-click="showUser($index)">
                <ul class="padding-bottom">
                    <li class="padding">
                        <span class="padding-left"><i class="icons ion-person padding-right"></i>{{user.name}} {{user.surname}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
