<ion-view title="{{selCommunity.name}}">
    <ion-nav-buttons side="right">
        <a href="#" class="button button-icon ion-android-chat"></a>
<a href="#" class="button button-icon ion-android-more-vertical padding-left"></a>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <div ng-if="selCommunity.users.lenght == 0">
            <h4>{{'lbl_no_results' | translate}}</h4>
        </div>
        <div class="card card-trip" ng-repeat="user in selCommunity.userObjs" ng-click="selectCommunity($index)">
            <div class="item row">
                <ul class="padding-bottom">
                    <li class="padding-bottom">
                        <span class="padding-left padding-right" id="custom-icons"><i class="icons ion-android-people"></i>{{user.name}},{{user.surname}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
