<ion-view title="{{'menu_community' | translate}}" class="communities">
    <ion-nav-buttons side="right">
         <a href="#/app/cercacomunita" class="button button-icon ion-android-search"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="padding" ng-if="communities == null || communities.length == 0">
            <h4>{{'lbl_no_results' | translate}}</h4>
        </div>
        <div class="card card-community" ng-repeat="comm in communities" ng-click="selectCommunity($index)">
            <div class="item" ng-style="{'background-color':'#{{comm.color}}'}">
                <h2 class="name">{{comm.name}}</h2>
            </div>
            <div class="item">
                <ul>
                    <!--TODO: change fake data (Rovereto, Trento) count with the real data-->
                    <li>
                        <span class="lbl">{{'lbl_tripzone'| translate}}:</span> {{comm.zone}}
                    </li>
                    <li class="community-numbers">
                        <div class="row">
                            <div class="col">
                                <span id="custom-icons"><i class="icons ion-person-stalker"></i> {{comm.users.length}} </span>
                            </div>
                            <div class="col">
                                <span id="custom-icons"><i class="icons ion-model-s"></i> {{comm.cars}} </span>
                            </div>
                            <div class="col"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
