<ion-tabs class="tabs-top">
    <!-- Informazioni Tab -->
    <ion-tab href="#/app/comunitainfo/info" icon="ion-ios-information">
        <ion-nav-view name="tab-info"></ion-nav-view>
    </ion-tab>
    <!-- Componenti Tab -->
    <ion-tab href="#/app/comunitainfo/componenti" icon="ion-android-people">
        <ion-nav-view name="tab-componenti"></ion-nav-view>
    </ion-tab>
    <!-- Viaggi Tab -->
    <ion-tab href="#/app/comunitainfo/viaggi" icon="ion-location">
        <ion-nav-view name="tab-viaggi"></ion-nav-view>
    </ion-tab>
</ion-tabs>
