<ion-view title="{{'menu_community' | translate}}" class="communities">
    <ion-nav-buttons side="right">
        <a href="#/app/cercacomunita" class="button button-icon ion-android-search"></a>
    </ion-nav-buttons>
    <ion-content>
        <a class="button button-block button-carpooling button-carpooling-head" href="mailto:iposto@smartcommunitylab.it?subject={{'ph_community_suggestion_subject' | translate}}&body={{'ph_community_suggestion_body' | translate}}">
            {{'lbl_suggestcommunity' | translate | uppercase}}
        </a>
        <div class="padding" ng-if="!!communities && communities.length == 0" style="color:gray;">
          <div class="row" style="margin-top: 30px;"><div class="col col-center text-center">{{'lbl_empty_comms1' | translate}}</div></div>
          <div class="row" style="margin-top: 20px;">
            <div class="col col-center text-center">
              {{'lbl_empty_comms2' | translate}} <i style="font-size:20px; padding: 0 5px;" class="icon ion-android-search"></i> {{'lbl_empty_comms3' | translate}}
            </div>
          </div>
        </div>
        <div class="card card-community" ng-repeat="comm in communities" ng-click="selectCommunity($index)">
            <div class="item" ng-style="{'background-color':'#{{comm.color}}'}">
                <h2 class="name">{{comm.name}}</h2>
            </div>
            <div class="item">
                <ul>
                    <!--TODO: change fake data (Rovereto, Trento) count with the real data-->
                    <li>
                        <span class="lbl">{{'lbl_tripzone'| translate}}:</span> {{comm.zone.name}}
                    </li>
                    <li class="community-numbers">
                        <div class="row">
                            <div class="col">
                                <span id="custom-icons"><i class="icons ion-person-stalker"></i> {{comm.users.length}} </span>
                            </div>
                            <div class="col">
                                <span id="custom-icons"><i class="icons ion-model-s"></i> {{comm.cars}} </span>
                            </div>
                            <div class="col"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
