<ion-view title="{{'app_name' | translate}}">
    <ion-nav-buttons side="right">
        <a href="#/app/notifiche" class="button button-icon ion-android-notifications"></a>
        <a ng-href="{{tab == 0 ? '#/app/cerca' : '#/app/offri'}}" ng-class="tab == 0 ? 'ion-android-search' : 'ion-android-add' " class="button button-icon padding-left"></a>
    </ion-nav-buttons>

    <ion-tabs class="tabs-top">
        <ion-tab title="{{'tab_participate' | translate}}" ng-click="selectTab(0)">
            <!--        <ion-nav-view name="tab-partecipo"></ion-nav-view>-->
            <ion-view>
                <ion-content>
                    <h5 class="text-center" ng-if="!!nonConfirmedTrips">{{'lbl_tripstoconfirm'| translate}}</h5>
                    <div class="padding" ng-if="!!nonConfirmedTrips && nonConfirmedTrips.length == 0">
                        <h4>{{'lbl_no_results' | translate}}</h4>
                    </div>
                    <div class="list" ng-if="!!nonConfirmedTrips && nonConfirmedTrips.length > 0">
                        <div class="card card-trip" ng-repeat="nctrip in nonConfirmedTrips" ng-click="selectParticipatedTrip($index, nonConfirmedTrips)">
                            <div class="item">
                                <div class="trip-data">
                                    <ul>
                                        <li>
                                            <!--<span class="cp-recurring"></span>-->
                                            <span>{{nctrip.when | date: travelDateFormat}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate | uppercase}}: <span>{{nctrip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{nctrip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{ nctrip.when | date: travelTimeFormat}}</span>
                                        </li>
                                        <li>
                                            <span class="trip-data-rejected" ng-if="nctrip.bookingState === -1">{{'lbl_trip_rejected' | translate}}</span>
                                            <span class="trip-data-requested" ng-if="nctrip.bookingState === 0">{{'lbl_trip_requested' | translate}}</span>
                                        </li>
                                    </ul>
                                    <!-- <div class="trip-flag" ng-if="false"></div> -->
                                </div>
                                <div class="trip-counter">
                                    <p class="trip-counter-num">{{nctrip.bookingCounters['available']}}</p>
                                    <p class="trip-counter-text">{{'lbl_user_car_seats' | translate}}</p>
                                </div>
                                <div class="trip-flag" ng-if="!!nctrip.style" ng-style="nctrip.style"></div>
                                <!--CHECKMARK-->
                                <div class="trip-confirmed">
                                    <i class="icons ion-ios-checkmark-outline custom-checkmark"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-center" ng-if="!!passengerTrips">{{'lbl_futuretrips'| translate}}</h5>
                    <div class="padding" ng-if="!!passengerTrips && passengerTrips.length == 0">
                        <h4>{{'lbl_no_results' | translate}}</h4>
                    </div>
                    <div class="list" ng-if="!!passengerTrips && passengerTrips.length > 0">
                        <div class="card card-trip" ng-repeat="trip in passengerTrips" ng-click="selectParticipatedTrip($index, passengerTrips)">
                            <div class="item">
                                <div class="trip-data">
                                    <ul>
                                        <li>
                                            <!--<span class="cp-recurring"></span>-->
                                            <span>{{trip.when | date: travelDateFormat}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate | uppercase}}: <span>{{trip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{trip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{ trip.when | date: travelTimeFormat}}</span>
                                        </li>
                                        <li>
                                            <span class="trip-data-rejected" ng-if="trip.bookingState === -1">{{'lbl_trip_rejected' | translate}}</span>
                                            <span class="trip-data-requested" ng-if="trip.bookingState === 0">{{'lbl_trip_requested' | translate}}</span>
                                        </li>
                                    </ul>
                                    <!-- <div class="trip-flag" ng-if="false"></div> -->
                                </div>
                                <div class="trip-counter">
                                    <p class="trip-counter-num">{{trip.bookingCounters['available']}}</p>
                                    <p class="trip-counter-text">{{'lbl_user_car_seats' | translate}}</p>
                                </div>
                                <div class="trip-flag" ng-if="!!trip.style" ng-style="trip.style"></div>
                            </div>
                        </div>
                    </div>
                    <ion-infinite-scroll ng-if="passengerTripsCanHaveMore" on-infinite="loadMorePassengerTrips()" distance="5%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="{{'tab_offer' | translate}}" ng-click="selectTab(1)">
            <!--        <ion-nav-view name="tab-offro"></ion-nav-view>-->
            <ion-view>
                <ion-content ng-init="loadMoreDriverTrips()">
                    <div class="padding" ng-if="!!driverTrips && driverTrips.length == 0">
                        <h4>{{'lbl_no_results' | translate}}</h4>
                    </div>
                    <div class="list" ng-if="!!driverTrips && driverTrips.length > 0">
                        <div class="card card-trip" ng-repeat="trip in driverTrips" ng-click="selectOfferedTrip($index)">
                            <div class="item">
                                <div class="trip-data">
                                    <ul>
                                        <li>
                                            <span>{{ trip.when | date: travelDateFormat }}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate | uppercase}}: <span>{{trip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{trip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{ trip.when | date: travelTimeFormat}}</span>
                                        </li>
                                    </ul>
                                    <!-- <div class="trip-flag" ng-if="false"></div> -->
                                </div>
                                <div class="trip-counter">
                                    <p class="trip-counter-num">{{trip.bookingCounters['available']}}</p>
                                    <p class="trip-counter-text">{{'lbl_user_car_seats' | translate}}</p>
                                </div>
                                <div class="trip-flag" ng-if="!!trip.style" ng-style="trip.style"></div>
                            </div>
                        </div>
                    </div>
                    <ion-infinite-scroll ng-if="driverTripsCanHaveMore" on-infinite="loadMoreDriverTrips()" distance="5%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
