<ion-view title="{{community.name}}" class="info">
    <ion-nav-buttons side="right">
        <!--
        <a href="#" class="button button-icon ion-android-chat"></a>
        <a href="#" class="button button-icon ion-android-more-vertical padding-left"></a>
        -->
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <div>
            <h5>{{'lbl_generalinformations'| translate}}</h5>
            <p class="padding-top"><span>{{'lbl_tripzone'| translate}}:</span> {{community.zone}}</p>
        </div>
        <div class="padding-top padding-bottom">
            <h5>{{'lbl_numberauto'| translate}}</h5>
            <span class="padding-left" id="auto"><i class="icons ion-model-s"></i> {{community.cars}} </span>
        </div>
        <button class="button button-block button-carpooling">
            {{'lbl_addauto'| translate}}
        </button>
    </ion-content>
</ion-view>
