<ion-view title="{{'lbl_login' | translate}}">
    <ion-content class="padding">
        <button class="button button-block" ng-click="login('googlelocal')" ng-if="login_googlelocal"><i class="ion ion-social-googleplus"></i></button>
        <button class="button button-block" ng-click="login('google')"><i class="ion ion-social-google"></i></button>
        <button class="button button-block" ng-click="login('facebook')"><i class="ion ion-social-facebook"></i></button>
    </ion-content>
</ion-view>
