<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <!--<div class="buttons">
            <i class="icon close-modal" ng-class="{'ion-android-arrow-back': platform.isAndroid(), 'ion-ios-arrow-back': !platform.isAndroid()}" ng-click="closeMap()"></i>
        </div>-->
        <h1 class="title">{{'modal_map' | translate}}</h1>
        <button class="button button-icon ion-close-round" ng-click="hideModalMap()"></button>
    </ion-header-bar>
    <ion-content scroll="false">
        <div id="modal-map-container" data-tap-disabled="true">
            <leaflet id="modalMap" event-broadcast="events" center="center" markers="markers" paths="paths" ng-init="initMap()"></leaflet>
        </div>
    </ion-content>
</ion-modal-view>
