<ion-modal-view>
    <ion-content scroll="true">

        <div align="center">
            <h1 class="comm-title">Seleziona le comunità di cui </br> vuoi far parte:</h1> </div>


        <ion-list>
            <div class="card card-community" ng-repeat="comm in communities" ng-click="selectCommunity($index)">
                <div class="row">
                    <div class="col col-75">
                        <div class="item" ng-style="{'background-color':'#{{comm.color}}'}">
                            <h2 class="name">{{comm.name}}</h2>
                        </div>
                        <div class="item">
                            <ul>
                                <!--TODO: change fake data (Rovereto, Trento) count with the real data-->
                                <li>
                                    <span class="lbl">{{'lbl_tripzone'| translate}}:</span> {{comm.zone.name}}
                                </li>
                                <li class="community-numbers">
                                    <div class="row">
                                        <div class="col">
                                            <span id="custom-icons"><i class="icons ion-person-stalker"></i> {{comm.users.length}} </span>
                                        </div>
                                        <div class="col">
                                            <span id="custom-icons"><i class="icons ion-model-s"></i> {{comm.cars}} </span>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="col">
                        <ion-checkbox class="element-check"></ion-checkbox>
                    </div>
                </div>

            </div>
        </ion-list>


    </ion-content>
    <div class="bar bar-footer-confirm bar-white">
        <div class="pull-right">
            <button class="button button-clear button-primary padding refused">NO GRAZIE</button>
            <button class="button button-clear button-primary padding confirm">CONFERMA</button>
        </div>
    </div>
</ion-modal-view>
