<ion-view title="{{'app_name' | translate}}">
    <ion-nav-buttons side="right">
        <a href="#/app/notifiche" class="button button-icon ion-android-notifications"><span class="badge badge-assertive header-badge" ng-if="notificationCounter > 0">{{notificationCounter}}</span></a>
        <a ng-href="{{tab == 0 ? '#/app/cerca' : '#/app/offri'}}" ng-class="tab == 0 ? 'ion-android-search' : 'ion-android-add' " class="button button-icon padding-left"></a>
    </ion-nav-buttons>

    <ion-tabs class="tabs-top">
        <ion-tab title="{{'tab_participate' | translate}}" ng-click="selectTab(0)">
            <ion-view>
                <ion-content ng-init="loadMorePassengerTrips()">
                    <div class="padding" ng-if="nonConfirmedTrips != null && nonConfirmedTrips.length == 0 && passengerTrips != null && passengerTrips.length == 0" style="color: gray">
                        <div class="row" style="margin-top: 30px;">
                            <div class="col col-center text-center">{{'lbl_empty_trips1' | translate}}</div>
                        </div>
                        <div class="row">
                            <div class="col col-center text-center"><img src="img/no_viaggi_partecipati.png" width="130px"></div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col col-center text-center">{{'lbl_empty_trips2' | translate}}</div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col col-center text-center">
                                {{'lbl_empty_trips3' | translate}} <i style="font-size:20px; padding: 0 5px;" class="icon ion-android-search"></i> {{'lbl_empty_trips4' | translate}}
                            </div>
                        </div>
                    </div>

                    <h5 class="text-center" ng-if="nonConfirmedTrips != null && nonConfirmedTrips.length > 0">{{'lbl_tripstoconfirm'| translate}}</h5>
                    <!--
                    <div class="padding" ng-if="!!nonConfirmedTrips && nonConfirmedTrips.length == 0">
                        <h4>{{'lbl_no_results' | translate}}</h4>
                    </div>
                    -->
                    <div class="list" ng-if="nonConfirmedTrips != null && nonConfirmedTrips.length > 0">
                        <div class="card card-trip" ng-repeat="nctrip in nonConfirmedTrips">
                            <div class="item">
                                <div class="trip-data" ng-click="selectParticipatedTrip($index, nonConfirmedTrips)">
                                    <ul>
                                        <li>
                                            <i class="icon cp-recurring" ng-if="!!nctrip.recurrentId"></i>
                                            <span>{{nctrip.when | date: travelDateFormat}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate | uppercase}}: <span>{{nctrip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{nctrip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{ nctrip.when | date: travelTimeFormat}}</span>
                                        </li>
                                        <li>
                                            <span class="trip-data-rejected" ng-if="nctrip.bookingState === -1">{{'lbl_trip_rejected' | translate}}</span>
                                            <span class="trip-data-requested" ng-if="nctrip.bookingState === 0">{{'lbl_trip_requested' | translate}}</span>
                                        </li>
                                    </ul>
                                    <!--<div class="trip-flag" ng-if="false"></div>-->
                                </div>
                                <div class="trip-flag" ng-if="!!nctrip.style" ng-style="nctrip.style"></div>
                                <!-- CHECKMARK -->
                                <div class="trip-confirmed" ng-click="confirmDialog($index)">
                                    <i class="icons ion-ios-checkmark-outline custom-checkmark"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-center" ng-if="passengerTrips != null && passengerTrips.length > 0">{{'lbl_futuretrips'| translate}}</h5>
                    <!--
                    <div class="padding" ng-if="!!passengerTrips && passengerTrips.length == 0">
                        <h4>{{'lbl_no_results' | translate}}</h4>
                    </div>
                    -->
                    <div class="list" ng-if="passengerTrips != null && passengerTrips.length > 0">
                        <div class="card card-trip" ng-repeat="trip in passengerTrips" ng-click="selectParticipatedTrip($index, passengerTrips)">
                            <div class="item">
                                <div class="trip-data">
                                    <ul>
                                        <li>
                                            <i class="icon cp-recurring" ng-if="!!trip.recurrentId"></i>
                                            <span>{{trip.when | date: travelDateFormat}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate | uppercase}}: <span>{{trip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{trip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{ trip.when | date: travelTimeFormat}}</span>
                                        </li>
                                        <li>
                                            <span class="trip-data-rejected" ng-if="trip.bookingState === -1">{{'lbl_trip_rejected' | translate}}</span>
                                            <span class="trip-data-requested" ng-if="trip.bookingState === 0">{{'lbl_trip_requested' | translate}}</span>
                                        </li>
                                    </ul>
                                    <!-- <div class="trip-flag" ng-if="false"></div> -->
                                </div>
                                <div class="trip-counter">
                                    <p class="trip-counter-num">{{trip.bookingCounters['available']}}</p>
                                    <p class="trip-counter-text">{{'lbl_user_car_seats' | translate}}</p>
                                </div>
                                <div class="trip-flag" ng-if="!!trip.style" ng-style="trip.style"></div>
                            </div>
                        </div>
                    </div>
                    <ion-infinite-scroll ng-if="passengerTripsCanHaveMore" on-infinite="loadMorePassengerTrips()" distance="5%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="{{'tab_offer' | translate}}" ng-click="selectTab(1)">
            <ion-view>
                <ion-content ng-init="loadMoreDriverTrips()">
                    <div class="padding" ng-if="driverTrips != null && driverTrips.length == 0" style="color: gray">
                        <!--                        <h4>{{'lbl_no_results' | translate}}</h4>-->
                        <div class="row" style="margin-top: 30px;">
                            <div class="col col-center text-center">{{'lbl_empty_offers1' | translate}}</div>
                        </div>
                        <div class="row">
                            <div class="col col-center text-center"><img src="img/no_viaggi_offerti.png" width="130px"></div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col col-center text-center">{{'lbl_empty_offers2' | translate}}</div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col col-center text-center">
                                {{'lbl_empty_offers3' | translate}} <i style="font-size:20px; padding: 0 5px;" class="icon ion-android-add"></i> {{'lbl_empty_offers4' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="list" ng-if="!!driverTrips && driverTrips.length > 0">
                        <div class="card card-trip" ng-repeat="trip in driverTrips" ng-click="selectOfferedTrip($index)">
                            <div class="item">
                                <div class="trip-data">
                                    <ul>
                                        <li>
                                            <i class="icon cp-recurring" ng-if="!!trip.recurrentId"></i>
                                            <span>{{ trip.when | date: travelDateFormat }}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate | uppercase}}: <span>{{trip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{trip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{ trip.when | date: travelTimeFormat}}</span>
                                        </li>
                                    </ul>
                                    <!-- <div class="trip-flag" ng-if="false"></div> -->
                                </div>
                                <div class="trip-counter">
                                    <p class="trip-counter-num">{{trip.bookingCounters['available']}}</p>
                                    <p class="trip-counter-text">{{'lbl_user_car_seats' | translate}}</p>
                                </div>
                                <div class="trip-flag" ng-if="!!trip.style" ng-style="trip.style"></div>
                            </div>
                        </div>
                    </div>
                    <ion-infinite-scroll ng-if="driverTripsCanHaveMore" on-infinite="loadMoreDriverTrips()" distance="5%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
