<ion-view title="{{'lbl_offer' | translate}}">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-input">
                <input type="text" placeholder="{{'lbl_from' | translate}}">
                <a class="button button-icon icon ion-map padding-left" ng-click="showModalMap()"></a>
            </div>
            <div class="item item-input">
                <input type="text" placeholder="{{'lbl_to' | translate}}">
                <a class="button button-icon icon ion-map padding-left"></a>
            </div>
        </div>

        <h4>{{'lbl_halfwaystops'| translate}}</h4>
        <div class="list">
            <ion-radio ng-model="hasHalfwayStops" ng-value="false">{{'lbl_halfwaystops_none'| translate}}</ion-radio>
            <ion-radio ng-model="hasHalfwayStops" ng-value="true">{{'lbl_halfwaystops_agree'| translate}}</ion-radio>
        </div>

        <div class="list">
            <div class="row">
                <div class="col">
                    <div class="item item-input item-stacked-label">
                        <span class="input-label">{{'lbl_date'| translate}}</span>
                        <input type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="item item-input item-stacked-label">
                        <span class="input-label">{{'lbl_time'| translate}}</span>
                        <input type="text">
                    </div>
                </div>
            </div>
            <ion-toggle ng-model="recurrence.isRecurrent">{{'lbl_recurrenttrip'| translate}}</ion-toggle>
        </div>
    </ion-content>
</ion-view>
