<ion-view title="{{'lbl_offer' | translate}}">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-input item-autocomplete">
                <!--<input type="text" placeholder="{{'lbl_from' | translate}}" ng-model="locations['from'].name">-->
                <placeautocomplete ng-model="travel['from'].name" placeholder="{{'lbl_from' | translate}}" attr-placeholder="{{'lbl_from' | translate}}" click-activation="true" data="places.names" on-type="typing" on-select="setLocationFrom"></placeautocomplete>
                <a class="button button-icon icon ion-map padding-left" ng-click="showModalMap('from')"></a>
            </div>
            <div class="item item-input item-autocomplete">
                <!--<input type="text" placeholder="{{'lbl_to' | translate}}" ng-model="locations['to'].name">-->
                <placeautocomplete ng-model="travel['to'].name" placeholder="{{'lbl_to' | translate}}" attr-placeholder="{{'lbl_to' | translate}}" click-activation="true" data="places.names" on-type="typing" on-select="setLocationTo"></placeautocomplete>
                <a class="button button-icon icon ion-map padding-left" ng-click="showModalMap('to')"></a>
            </div>
        </div>

        <h4>{{'lbl_halfwaystops' | translate}}</h4>
        <div class="list">
            <ion-radio ng-model="travel.intermediateStops" ng-value="false">{{'lbl_halfwaystops_none' | translate}}</ion-radio>
            <ion-radio ng-model="travel.intermediateStops" ng-value="true">{{'lbl_halfwaystops_agree' | translate}}</ion-radio>
        </div>

        <div class="list">
            <div class="item item-input">
                <span class="input-label">{{'lbl_date' | translate}}</span>
                <ionic-datepicker input-obj="datepickerObj">
                    <span class="input-label"> {{datepickerObj.inputDate | date:dateMask}}</span>
                </ionic-datepicker>
            </div>
            <div class="item item-input">
                <span class="input-label">{{'lbl_time' | translate}}</span>
                <ionic-timepicker input-obj="timepickerObj">
                    <standard-time-meridian etime='timepickerObj.inputEpochTime'></standard-time-meridian>
                </ionic-timepicker>
            </div>

            <!-- ng-click missing because we use a watch on the model -->
            <ion-toggle ng-model="recurrency.isRecurrent">{{'lbl_recurrenttrip' | translate}}</ion-toggle>
            <a class="link-carpooling" ng-if="recurrency.isRecurrent" ng-click="showRecurrencyPopup()">{{recurrency.recurrencyDoWstring}}</a>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="button button-carpooling" ng-click="offer()">
                    {{'lbl_offri' | translate}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
