<ion-view title="{{'app_name' | translate}}">
    <ion-nav-buttons side="right">
        <a href="#/app/notifiche" class="button button-icon ion-android-notifications"></a>
        <a href="#/app/cerca" class="button button-icon ion-android-search padding-left"></a>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <h1>{{'tab_participate' | translate}}</h1>
        <button class="button" ng-click="getTravelProfile()">getTravelProfile</button>
        <p>{{travelProfile}}</p>
    </ion-content>
</ion-view>
