<ion-view title="{{'menu_profile' | translate}}">
    <ion-nav-buttons side="right">
        <a ng-if="tab == 0 && itsMe && editMode && !initialSetup" class="button button-icon ion-close-round" ng-click="cancelChanges()"></a>
        <a ng-if="tab == 0 && itsMe" class="button button-icon" ng-class="{'ion-edit': !editMode, 'ion-checkmark-round': editMode}" ng-click="editMode ? saveProfile() : toggleEditMode()"></a>
    </ion-nav-buttons>

    <ion-tabs class="tabs-top">
        <!-- User Info Tab -->
        <ion-tab icon="ion-ios-information" ng-click="selectTab(0)">
            <!--<ion-nav-view name="tab-userinfo"></ion-nav-view>-->
            <ion-view>
                <ion-content class="padding user-profile">
                    <div class="user-data">
                        <div class="user-image">
                            <i class="icons ion-person"></i>
                        </div>
                        <h4 class="user-name" ng-if="!!user.name || !!user.surname">{{user.name}} {{user.surname}}</h4>
                        <h4 class="user-name" ng-if="!user.name && !user.surname">{{'lbl_user_anonymous' | translate}}</h4>
                    </div>
                    <div class="list user-options">
                        <div class="item item-input">
                            <span class="input-label">{{'lbl_user_nickname' | translate}}:</span>
                            <input ng-if="editMode" type="text" ng-model="user.dpName" ng-readonly="!editMode" placeholder="{{'lbl_user_nickname_placeholder' | translate}}">
                            <span ng-if="!editMode" class="profile-label-readonly">{{user.dpName ? user.dpName : user.name + ' ' + user.surname}}</span>
                        </div>
                        <div class="item item-input" ng-if="editMode || !!user.telephone">
                            <span class="input input-label">{{'lbl_phone_contact' | translate}}:</span>
                            <a class="phone" href="tel:{{cleanTelephone(user.telephone)}}" target="_blank" ng-if="!editMode && !!user.telephone">{{user.telephone}}</a>
                            <input ng-if="editMode" type="tel" ng-model="user.telephone" ng-readonly="!editMode" placeholder="{{'lbl_user_tel_placeholder' | translate}}" />
                        </div>
                        <!--<ion-toggle style="color: #3448A5" ng-model="edit.hasAuto" ng-disabled="!editMode" ng-change="toggleHasAuto()">{{'lbl_user_car_owner' | translate}}:</ion-toggle>-->
                        <div class="custom-toggle item item-input">
                            <span class="input input-label">{{'lbl_user_car_owner' | translate}}:</span>
                            <ion-radio ng-value="true" ng-model="edit.hasAuto" class="radio-positive" ng-if="editMode" ng-change="toggleHasAuto()">
                                {{'lbl_yes' | translate}}
                            </ion-radio>
                            <ion-radio ng-value="false" ng-model="edit.hasAuto" class="radio-positive" ng-if="editMode" ng-change="toggleHasAuto()">
                                {{'lbl_no' | translate}}
                            </ion-radio>
                            <span ng-if="!editMode" class="profile-label-readonly">{{(edit.hasAuto ? 'lbl_yes':'lbl_no')|translate}}</span>
                        </div>
                        <div ng-if="(!!user.auto  && !!user.auto.description && user.auto.posts > 0) || editMode">
                            <label class="item item-input">
                                <span class="input-label">{{'lbl_user_car_info' | translate}}:</span>
                                <input ng-if="editMode" type="text" ng-model="user.auto.description" ng-disabled="editMode && !edit.hasAuto" ng-readonly="!editMode" placeholder="...">
                                <span ng-if="!editMode" class="profile-label-readonly">{{user.auto.description}}</span>
                            </label>

                            <label class="item item-input" ng-class="{'item-select':editMode}">
                                <div class="input-label">
                                    {{'lbl_user_car_seats_user' | translate}}:
                                </div>
                                <select ng-if="editMode" ng-model="user.auto.posts" ng-options="n for n in edit.postsAvailable" ng-disabled="editMode && !edit.hasAuto"></select>
                                <span ng-if="!editMode" class="profile-label-readonly">{{user.auto.posts}}</span>
                            </label>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <!-- User Stats Tab -->
        <ion-tab icon="ion-stats-bars" ng-click="selectTab(1)">
            <!--    <ion-nav-view name="tab-userstats"></ion-nav-view>-->
            <ion-view>
                <ion-content class="padding" ng-init="initStats()">
                    <table class="chart">
                        <tr class="toes" style="display:none;">
                            <td>
                                <div class="toe">
                                    <span class="valuestring">{{totalDriverTrips}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="toe">
                                    <span class="valuestring">{{totalPassengerTrips}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="values">
                            <td>
                                <div class="value" ng-style="driverStyle">
                                    <span class="valuestring">{{totalDriverTrips}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="value" ng-style="passengerStyle">
                                    <span class="valuestring">{{totalPassengerTrips}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="toes">
                            <td>
                                <div class="toe">
                                    <span class="valuestring">{{totalDriverTrips}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="toe">
                                    <span class="valuestring">{{totalPassengerTrips}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="labels">
                            <th>{{'lbl_number_driver_avg' | translate}}</th>
                            <th>{{'lbl_number_pass_avg' | translate}}</th>
                        </tr>
                    </table>

                    <div class="rating-avg">
                        <span class="rating-avg-txt">{{'lbl_rating_driver_avg'|translate}}</span>
                    </div>
                    <div class="rating-avg-star">
                        <span>
                            <i ng-repeat="starType in getStars(driverRating) track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}"></i>
                        </span>
                    </div>

                    <div class="rating-avg">
                        <span class="rating-avg-txt">{{'lbl_rating_pass_avg'|translate}}</span>
                    </div>
                    <div class="rating-avg-star">
                        <span>
                            <i ng-repeat="starType in getStars(passengerRating) track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}" ></i>
                        </span>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
