<ion-view title="{{'menu_history' | translate}}">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-tabs class="tabs-top">
        <ion-tab title="{{'tab_participated' | translate}}" ng-click="selectTab(0)">
            <ion-view>
                <ion-content>
                    <div class="padding" ng-if="passengerTrips != null && passengerTrips.length == 0">
<!--                        <h4>{{'lbl_no_results' | translate}}</h4>-->
                      <div class="row" style="margin-top: 30px; color: gray;"><div class="col col-center text-center">{{'lbl_empty_trips_storico' | translate}}</div></div>
                    </div>
                    <div class="list" ng-if="!!passengerTrips && passengerTrips.length > 0">
                        <div class="card card-trip" ng-repeat="trip in passengerTrips" ng-click="selectParticipatedTrip($index)">
                            <div class="item">
                                <div class="trip-data trip-data-storic">
                                    <ul>
                                        <li>
                                            <span class="right-data">{{trip.when | date: travelDateFormat}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate}}: <span>{{trip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{trip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{ trip.when | date: travelTimeFormat}}</span>
                                        </li>
                                        <li>
                                            <span class="trip-data-rejected" ng-if="trip.bookingState === -1">{{'lbl_trip_rejected' | translate}}</span>
                                            <span class="trip-data-requested" ng-if="trip.bookingState === 0">{{'lbl_trip_requested' | translate}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <!--<div class="trip-counter">
                                    <p class="trip-counter-num">{{trip.bookingCounters['available']}}</p>
                                    <p class="trip-counter-text">{{'lbl_user_car_seats' | translate}}</p>
                                </div>-->
                                <div class="trip-flag" ng-if="!!trip.style" ng-style="trip.style"></div>
                            </div>
                        </div>
                    </div>
                    <ion-infinite-scroll ng-if="passengerTripsCanHaveMore" on-infinite="loadMorePassengerTrips()" distance="5%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="{{'tab_offered' | translate}}" ng-click="selectTab(1)">
            <ion-view>
                <ion-content ng-init="loadMoreDriverTrips()">
                    <div class="padding" ng-if="driverTrips != null && driverTrips.length == 0">
<!--                        <h4>{{'lbl_no_results' | translate}}</h4>-->
                        <div class="row" style="margin-top: 30px; color: gray;"><div class="col col-center text-center">{{'lbl_empty_offers_storico' | translate}}</div></div>
                  </div>
                    <div class="list" ng-if="!!driverTrips && driverTrips.length > 0">
                        <div class="card card-trip" ng-repeat="trip in driverTrips" ng-click="selectOfferedTrip($index)">
                            <div class="item">
                                <div class="trip-data trip-data-storic">
                                    <ul>
                                        <li>
                                            <span class="right-data">{{ trip.when | date: travelDateFormat }}</span>
                                        </li>
                                        <li>
                                            {{'lbl_from' | translate}}: <span>{{trip.from.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_to' | translate | uppercase}}: <span>{{trip.to.name}}</span>
                                        </li>
                                        <li>
                                            {{'lbl_start_time' | translate}}: <span>{{ trip.when | date: travelTimeFormat}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <!--<div class="trip-counter">
                                    <p class="trip-counter-num">{{trip.bookingCounters['available']}}</p>
                                    <p class="trip-counter-text">{{'lbl_user_car_seats' | translate}}</p>
                                </div>-->
                                <div class="trip-flag" ng-if="!!trip.style" ng-style="trip.style"></div>
                            </div>
                        </div>
                    </div>
                    <ion-infinite-scroll ng-if="driverTripsCanHaveMore" on-infinite="loadMoreDriverTrips()" distance="5%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
