<ion-view title="{{'menu_profile'| translate}}">
    <ion-content class="padding">

        <div>
            <ul class="chart col-60">
                <li style="margin-top:{{drivertripsheight}}">
                    <div class="value">{{totalDriverTrips}}</div>
                </li>
                <li style="margin-top:{{passengertripsheight}}">
                    <div class="value">{{totalPassengerTrips}}</div>
                </li>
            </ul>

        </div>

        <div>
            <div class="string">{{'lbl_number_driver_avg'|translate}}</div>
            <div class="string">{{'lbl_number_pass_avg'|translate}}</div>
        </div>


        <div class="rating-avg col">
            <span class="rating-avg-txt">{{'lbl_rating_driver_avg'|translate}}</span>
        </div>
        <div class="rating-avg-star">
            <span style="white-space: nowrap;">
                <i ng-repeat="starType in getStars(driverRating) track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}"></i>
                </span>
        </div>
        <div class="rating-avg">
            <span class="rating-avg-txt">{{'lbl_rating_pass_avg'|translate}}</span>
        </div>

        <div class="rating-avg-star">
            <span style="white-space: nowrap;">
                <i ng-repeat="starType in getStars(passengerRating) track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}" ></i>
                </span>
        </div>

    </ion-content>
</ion-view>
