<ion-view title="{{'lbl_trip'| translate}}">
    <ion-content>
        <div>MAPPA</div>
        <div class="button-bar">
            <a class="button">
                <i class="icons ion-ios-person"></i>
                <span>{{driverInfo.name + " " + driverInfo.surname}}</span>
            </a>
            <a class="button">
                <i class="icons ion-ios-people"></i>
                <span>{{selectedTrip.communityIds[0]}}</span>
            </a>
        </div>
        <div class="padding trip-info">
            <ul>
                <li>
                    <p><span>{{selectedTrip.when | date: travelDateFormat}}</span></p>
                </li>
                <li>
                    <p>{{'lbl_from' | translate | uppercase}}: <span>{{selectedTrip.from.name}}</span></p>
                </li>
                <li>
                    <p>{{'lbl_to' | translate | uppercase}}: <span>{{selectedTrip.to.name}}</span></p>
                </li>
                <li>
                    <p>{{'lbl_start_time' | translate}}: <span>{{selectedTrip.route.startime | date: travelTimeFormat}}</span></p>
                </li>
                <li>
                    <p>{{'lbl_end_time' | translate}}: <span>{{selectedTrip.route.endtime | date: travelTimeFormat}}</span></p>
                </li>
                <li>
                    <p>{{'lbl_halfwaystops' | translate}}: <span>{{(!!selectedTrip.intermediateStops ? 'lbl_halfwaystops_onrequest' : 'lbl_halfwaystops_none') | translate}}</span></p>
                </li>
                <li>
                    <p>{{'lbl_recurrency' | translate}}: <span>{{!!selectedTrip.recurrency ? dowString : 'lbl_recurrency_none' | translate}}</span></p>
                </li>
            </ul>
        </div>
        <div class="padding-left passenger">
            <p>{{'lbl_passenger' | translate | uppercase}}</p>
            <ul class="custom-icons">
                <li class="icons ion-ios-person" ng-repeat="i in getNumber(bookingCounters.booked) track by $index"></li>
                <li id="places_left">
                    <div>
                        <span>+{{bookingCounters.available}}</span>
                        <p>{{'lbl_spaces_left' | translate | uppercase}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="trip-actions">
            <button class="button">
                {{'lbl_driver_contact' | translate | uppercase}}
            </button>
            <button class="button">
                {{'lbl_ask_trip' | translate | uppercase}}
            </button>
        </div>
    </ion-content>
</ion-view>
