<ion-view title="{{isMine ? 'lbl_mytrip': 'lbl_trip'| translate}}">
    <ion-content>
        <div ng-if="!isMine">
     <div id="trip-map-container" data-tap-disabled="true">
            <leaflet event-broadcast="events" center="center" markers="markers" paths="pathLine" style="width: 100%; height: 200px;" ng-init="initMap()" id="tripMap"></leaflet>
        </div>
            <a class="button button-full" ng-if="!isMine">
                <i class="icons ion-person"></i>
                <span>{{driverInfo.name + ' ' + driverInfo.surname}}</span>
            </a>
            <!-- hide temporary
            <a class="button">
                <i class="icons ion-ios-people"></i>
                <span>{{selectedTrip.communityIds[0]}}</span>
            </a>
            -->
        </div>

        <div class="padding trip-info">
            <p>
                <span>{{selectedTrip.when | date:travelDateFormat}}</span>
            </p>

            <ul>
                <li>
                    {{'lbl_from' | translate | uppercase}}: <span>{{selectedTrip.from.name}}</span>
                </li>
                <li>
                    {{'lbl_to' | translate | uppercase}}: <span>{{selectedTrip.to.name}}</span>
                </li>
            </ul>

            <ul class="padding-top padding-bottom">
                <li>
                    {{'lbl_start_time' | translate}}: <span>{{selectedTrip.route.startime | date:travelTimeFormat}}</span>
                </li>
                <li>
                    {{'lbl_end_time' | translate}}: <span>{{selectedTrip.route.endtime | date:travelTimeFormat}}</span>
                </li>
            </ul>

            <p>
                {{'lbl_halfwaystops' | translate}}: <span>{{(!!selectedTrip.intermediateStops ? 'lbl_halfwaystops_onrequest' : 'lbl_halfwaystops_none') | translate}}</span>
            </p>

            <p ng-if="isRecurrencyEnabled()">
                {{'lbl_recurrency' | translate}}: <span>{{!!selectedTrip.recurrency ? dowString : 'lbl_recurrency_none' | translate}}</span>
            </p>
        </div>

        <div class="padding trip-passengers">
            <h5>{{'lbl_passenger' | translate | uppercase}}</h5>
            <ul>
                <li class="trip-places-booked" ng-repeat="i in getNumber(bookingCounters.booked) track by $index">
                    <i class="icons ion-person"></i>
                </li>
                <li class="trip-places-left">
                    <span>{{bookingCounters.available !== selectedTrip.places ? '+' : ''}}{{bookingCounters.available}}</span>
                    <div>{{'lbl_spaces_left' | translate | uppercase}}</div>
                </li>
            </ul>
        </div>

        <div class="padding trip-status" ng-if="!isMine && bookingState !== null">
            <span ng-if="bookingState === -1" class="rejected">{{'lbl_trip_rejected' | translate}}</span>
            <span ng-if="bookingState === 0">{{'lbl_trip_requested' | translate}}</span>
            <span ng-if="bookingState === 1" class="accepted">{{'lbl_trip_accepted' | translate}}</span>
        </div>

        <div class="padding row trip-actions" ng-if="!isMine">
            <div class="col">
                <button class="button button-carpooling">
                    {{'lbl_driver_contact' | translate | uppercase}}
                </button>
            </div>
            <div class="col" ng-if="bookingState === null">
                <button class="button button-carpooling" ng-click="bookingAction()">
                    <span>{{'lbl_trip_ask' | translate | uppercase}}</span>
                </button>
            </div>
        </div>

        <!--<div class="padding trip-requests" ng-if="isMine && $scope.selectedTrip.bookings.length > 0">-->
        <div class="trip-requests" ng-if="isMine && !!selectedTrip.booking && selectedTrip.booking.lenght > 0">
            <h5>{{'lbl_requests' | translate}}</h5>
            <!--<div class="list">-->
            <div class="list" ng-repeat="booking in selectedTrip.bookings" ng-if="booking.accepted !== -1">
                <a class="item item-button-right">
                    <!--<i class="icon ion-person"></i>-->
                    <p>{{booking.traveller.name}} {{booking.traveller.surname}}</p>
                    <!--Name Surname-->
                    <button class="button button-carpooling" ng-click="reject(booking)">
                        <i class="icon ion-close-round"></i>
                    </button>
                    <button class="button button-carpooling" ng-click="positiveAction(booking)">
                        <i class="icon" ng-class="{'ion-checkmark-round': booking.accepted === 0, 'ion-chatboxes': booking.accepted === 1}"></i>
                    </button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
